{% extends "admin/base_site.html" %}


{% block pretitle %}
<h3>Follow evaluations for '{{active_competition_step}}' step</h3>
{% endblock %}

{% block content %}
<table>
    <tr>
        {% for col in columns %}
            <td><b>{{col}}</b></td>
        {% endfor %}
    </tr>
    {% for line in lines %}
        <tr>
            {% for item in line %}
            <td>
                {% autoescape off%}{{item}}{% endautoescape %}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}