{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia tags %}
{% load url from future %}

{% block breadcrumbs %}
{% if not competition_admin %} 
{{block.super}}
{% endif %}
{% endblock %}


{% block pretitle %}
{% if not competition_admin %} 
{{block.super}}
{% else %}
<div style="color:red;font-weight:bold;font-size:large;">
    <p>Reste à implémenter :</p>
    <ul>    
    <li>Brider la possibilité d'ajouter / supprimer / modifier le nom d'étapes dans cet interface</li>
    <ul>
</div>
<h1>{{original.title}}</h1>
<h2>{{original.subtitle}}</h2>
<div>{% autoescape off %}{{original.presentation}}{% endautoescape %}</div>
<span class="HeaderBlock">
            <div class="Title">Organisation</div>    
            <div class="Item"><span class="Label">Organisateur :</span> {{original.managing_partner}}</div>
            <div class="Item"><span class="Label">Partenaires: </span>{% for partner in original.additional_partners.all %}{{partner}}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}</div>
            <div class="Item"><span class="Label">Gestionnaires : </span>{% for manager in original.managers.all %}{{manager.user}}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}</div>
</span>
<span class="HeaderBlock">    
            <div class="Title">Etapes</div>
            <ul>
            {% for step in original.steps %}
            <li>{{step.name}} ({% if step.is_open %}Clôture le {{step.closing_date}}{% else %}Clôturée{% endif %})</li>
            {% endfor %}
            </ul>
</span>
<span class="HeaderBlock">
            <div class="Title">Dates-clés</div>        
            <div class="Item"><span class="Label">Publication annonce : </span>{{original.information_date}}</div>
            <div class="Item"><span class="Label">Ouverture candidatures : </span>{{original.opening_date}} </div>
            <div class="Item"><span class="Label">Clôture candidatures : </span>{{original.closing_date}}</div>
            <div class="Item"><span class="Label">Publication résultats: </span>{{original.result_date}}</div>            
</span>
<span class="HeaderBlock">
            <div class="Title">Statut</div>                    
            <div class="Item"><span class="Label">Publié:</span>{{original.is_published}}</div>
            <div class="Item"><span class="Label">Ouvert:</span>{{original.is_open}}</div>
            <div class="Item"><span class="Label">Archivé:</span>{{original.is_archived}}</div>                
</span>
{% endif %}
<div class="Comment">Cliquer sur "Afficher" sur la rubrique de votre choix pour modifier les caractéristiques du concours.</div>
{% endblock %}

{% block content %}<div id="content-main">
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% if in_competition_admin %}{% submit_row_save_only %}{% else%}{% submit_row %}{% endif %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% if in_competition_admin %}
{% submit_row_save_only %}
{% else %}
{% submit_row %}
{% endif %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
