{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia tags %}
{% load url from future %}

{% block breadcrumbs %}
{% if not competition_admin %} 
{{block.super}}
{% endif %}
{% endblock %}

{% block pretitle %}
{% if not competition_admin %} 
{{block.super}}
{% else %}
<div style="color:red;font-weight:bold;font-size:large;">
    <p>Reste à implémenter :</p>
    <ul>
    <li>Ajout en haut de la page d'un tableau synthèse (infos en lecture seule)</li>
    <li>Possibilité de cliquer sur un lien 'Modifier' qui conduit au formulaire (dans une page séparée)</li>
    <li>Revoir le filter_vertical sur le M2M 'additional partners' (trop lourd). Remplacer par un raw_id amélioré si ça existe ?</li>
    <li>Brider la possibilité d'ajouter / supprimer / modifier le nom d'étapes dans cet interface</li>
    <ul>
</div>
{% endif %}
{% endblock %}

{% block content %}<div id="content-main">
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% if in_competition_admin %}{% submit_row_save_only %}{% else%}{% submit_row %}{% endif %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% if in_competition_admin %}
{% submit_row_save_only %}
{% else %}
{% submit_row %}
{% endif %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
