{% extends "admin/base_site.html" %}

{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery/jquery-1.4.1.min.js"></script>
 <script type="text/javascript">    
    
	$(function() {
            $( ".CandidateForm").hide()
            $( "#form1").show()
            $( "#button1").css("font-weight","bold")
            
           $('.CandidateTopButton').click(function() {
               $(".CandidateForm").hide()
               $(".CandidateTopButton").css("font-weight","normal")
               $("#"+this.id).css("font-weight","bold")
               form_key = "#form" + this.id.substring(6)
               $(form_key).show()
            })
	});
        
    
</script> 
{% endblock %}

{% block content %}
    
  
<h2>Candidate : {{candidate.composer.user.first_name}} {{candidate.composer.user.last_name}}</h2>
{% for form in forms%}    
<input class="CandidateTopButton" type="button" value="{{form.get_title}}" id="button{{forloop.counter}}"></input>
{% endfor %}
{% for form in forms %}
<div class="CandidateForm" id="form{{forloop.counter}}"><table>{{form.as_table}}</table></div>
{% endfor %}
{% endblock %}