{% extends "admin/base_site.html" %}

{% block pretitle %}
<div style="color:red;font-weight:bold;font-size:large;">
    <p>Reste à implémenter :</p>
    <ul>
    <li>VZsualiser/ pouvoir éditer le dossier de candidature du candidat (formulaire dynamique en fonction des paramètres du concours)</li>
    <li>Interdire la visualisation / édition d'un dossier de candidature associé à un autre concours (url)</li>
    <ul>
</div>
{{the_form.as_p}}
<iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Fulysse-test.fr%2Fstatic%2Fmedia%2FSikus%2520-%2520partition_arroyo.pdf&embedded=true" width="600" height="780" style="border: none;"></iframe>
{% endblock %}