{% extends "admin/base_site.html" %}

{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery/jquery-1.4.1.min.js"></script>
 <script type="text/javascript">    
    
	$(function() {
            $( ".CandidateForm").hide()
            $( "#form1").show()
            $( "#button1").css("font-weight","bold")
            
           $('.CandidateTopButton').click(function() {
               $(".CandidateForm").hide()
               $(".CandidateTopButton").css("font-weight","normal")
               $("#"+this.id).css("font-weight","bold")
               form_key = "#form" + this.id.substring(6)
               $(form_key).show()
            })
	});
        
    
</script> 
{% endblock %}

{% block content %}
<h2>Candidate : {{candidate.composer.user.first_name}} {{candidate.composer.user.last_name}}</h2>
<input class="CandidateTopButton" type="button" value="Administrative infos" id="button1"></input>
<input class="CandidateTopButton" type="button" value="Biography" id="button2"></input>
<input class="CandidateTopButton" type="button" value="Work 1" id="button3"></input>
<input class="CandidateTopButton" type="button" value="Work 2" id="button4"></input>
<input class="CandidateTopButton" type="button" value="Evaluation (pre-jury)" id="button5"></input>
<input class="CandidateTopButton" type="button" value="Evaluation (jury)" id="button6"></input>
{% for form in forms %}
<div class="CandidateForm" id="form{{forloop.index}}">Ici le formulaire 'form{{forloop.index}}'</div>
{% endfor %}
{% endblock %}