{% extends "competitions/base.html" %}
{% block content %}
<span class="StepNavButton"><a href="/{{active_competition.url}}/step/{{active_step.url}}/allocations">Affectations candidats - jury</a></span><span class="Separator">|</span><span class="StepNavButton"><a href="/{{active_competition.url}}/step/{{active_step.url}}/evaluations">Suivi des évaluations</a></span><span class="Separator">|</span><span class="StepNavButton"><a href="/{{active_competition.url}}/step/{{active_step.url}}/results">Suivi des résultats</a></span>
{% endblock %}