<html>
<head>
<style type="text/css">
ul.tab-list
{
    list-style-type:none;
}

ul.tab-list li
{
    float:left; 
    border-style:solid;
    border-width:1px;
    margin-left:5px;
    margin-right:5px;
    padding:5px;
    width:120px;
    text-align:center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
</style>
</head>
<body>
    <ul class="tab-list">
        <li>Informations</li>
        <li>Candidats</li>
        <li>Membres du jury</li>
        <li>Etape 'pré-jury'</li>
        <li>Etape 'jury'</li>
    <ul>
</body>