{% extends "admin/change_list.html" %}

{% block pretitle %}
<div style="color:red;font-weight:bold;font-size:large;">
    <p>Reste à implémenter :</p>
    <ul>
    <li>Pouvoir filtrer les candidats de cette liste suivant des groupes</li>
    <li>Pouvoir associer plus facilement des candidats à des membres du jury (en colonne : les membres du jury, possibilité de cocher des cases pour indiquer qui est membre du jury)</li>
    <li>Pouvoir associer tous les candidats sélectionnés à un groupe de membres de jury (ceci crée automatiquement les associations candidate / membre du jury individuelles ensuite)</li>        
    <li>Interdiction des modifications non autorisées (en cas d'id forcée via l'url)</li>
    <li>Supprimer le bouton 'Ajouter affectation candidat / jury'</li>
    <li>Supprimer le lien vers fiche détaillée</li>    
    <li>Note technique : renommer  CandidateJuryAllocation en CompetitionStepCandidate ? Pas sûr...</li>
    <ul>    
</div>
{% endblock %}