{% extends "admin/change_list.html" %}

{% block pretitle %}
<div style="color:red;font-weight:bold;font-size:large;">
    <p>Reste à implémenter :</p>
    <ul>
    <li>Pouvoir associer plus facilement des candidats à des membres du jury (ergonomie à discuter avec Cyril)</li>
    <li>Gestion des notifications par e-mail</li>
    <li>Gestion de l'importation de candidats (ex : les candidats retenus lors d'une étape précedente)</li>
    <li>Interdiction des modifications non autorisées (en cas d'id forcée via l'url)</li>
    <li>Note technique : renommer  CandidateJuryAllocation en CompetitionStepCandidate ?</li>
    <ul>    
</div>
{% endblock %}