{% extends "admin/action_form.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Manage jury members for selected candidates" %}</h1>
<h2>{% trans "List of selected candidates" %}</h2>
<ul>
    {% for allocation in cja %}
    <li>{{ allocation.candidate }}</li>    
    {% endfor %}
</ul>
<h2>{% trans "Add jury members" %}</h2>
<form method="POST" action="">{% csrf_token %}
    <input type="hidden" name="referer" value="{{ referer }}" />
    {% for allocation in cja %}
    <input type="hidden" name="id" value="{{ allocation.pk }}" />
    {% endfor %}

    {% if form.errors %}
    <p class="error">{% trans "Please correct the following errors:" %}</p>
    {{ form.non_field_errors }}
    {% endif %}

    {% for field in form %}
        <div class="form-row{% if field.field.required %} required{% endif %}{% if field.errors %} error{% endif %}">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
        </div>
    {% endfor %}

    <input type="submit" value="Valider"></input>
</form>
{% endblock %}
